html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /*background-color: #E7E3E0;*/
  /*background-image: url("./../public/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.highlight {
	width: 100%;
	height: auto;
	/*background-color: #E7E3E0;*/
}

.landing {
	text-align: center;
	font-size: 9.7rem;
}

.sub {
	text-align: center;
	font-size: 2.7rem;
}


.login, .register {
	background-color: white;
	/*margin: 3px;*/
	border-color: ##E7E3E0;
	border-style: solid;

	padding: 100px;
	padding-left: 15px;
	padding-right: 15px;
}

/*.register {
	background-color: white;
	border-color: #78C2AD;
	border-style: solid;
	padding-top: 80px;
	padding-left: 15px;
	padding-right: 15px;
}*/

.footerTo {
	color: white;
}
